
<section class="projects pull-left">
  <ul id='project-list' class="list">
    <% @projects.each do |project| %>
      <li class='project-links'>
        <%= link_to project.name, project, method: 'get', remote: true %>
      </li>
    <% end %>
  </ul>
  <%= render 'form', object: @new_project %>

</section>

<section class="tasks pull-left">
  <%= render 'tasks', project: @projects.first %>
</section>



